/**
  * @desc Cookie info dialog styling example
  * @author Danni Larsen - DLA
  * @requires a PostCss compiler

    @variables:
    :root {
        --cookie-info-bg-color: red;
        --cookie-info-text-color: blue;
        --cookie-info-open-bg-color: green;
        --cookie-info-open-text-color: yellow;
        --cookie-info-close-color: white;
    }
*/

/* Styling for the popup itself */
.cookie-info {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: var(--cookie-info-bg-color, gray);
    padding: 0;
    transition: .3s ease-in-out;
    transform: translate3d(0,100%,0); /* Hide by default */
    opacity: 0;
    z-index: 999;
}

.cookie-info-open {
    left: 20px;
    bottom: 0;
    border: none;
    background-color: var(--cookie-info-open-bg-color, gray);
    color: var(--cookie-info-open-text-color, white);
    font-size: 12px;
    line-height: 20px;
    border-radius: 2px 2px 0 0;
    transition: all .3s;
    position: fixed;
    opacity: .6;
    cursor: pointer;
    will-change: transform;
    z-index: 99;
}

.cookie-info-open:hover {
    opacity: 1;
}

.cookie-info__close {
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 10px;
    background: none;
    border: 0;
    font-size: 25px;
    line-height: 25px;
    cursor: pointer;
    color: var(--cookie-info-close-color, currentColor);
}

.cookie-info__accept,
.cookie-info__decline {
    margin-left: auto;
}

.cookie-info__accept { display: block;}
.cookie-info__decline { display: none; }

.cookie-info__content {
    position: relative;
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 0 15px;
}

.cookie-info__text {
    margin: 6px 0 0;
    color: var(--cookie-info-text-color, white);
}

/*
 *  Open cookie popup styling
 */

/* Show the cookie info */
body.cookie-info-show .cookie-info {
    transform: translate3d(0,0,0);
    opacity: 1;
}

/* Hide the button */
body.cookie-info-show .cookie-info-open { opacity: 0; }

.cookie-info-accepted .cookie-info__accept { display: none;}
.cookie-info-accepted .cookie-info__decline { display: block; }